body {
  background-image: url('bg.jpg');
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  background-color: #e8d3b9;
  opacity: 0.8;
  margin: 150px auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(47, 19, 19, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

button {
  background-color: #360a0a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 4px;
}

button:hover {
  opacity: 1;
}

.forgot {
  float: left;
  padding: 10px 0;
}

.signup {
  float: right;
  padding: 10px 0;
}

a:hover {
  color: #6d1e1e; 
}

.girl-img {
  position: absolute;
  top: 100px;
  animation: run 5s linear infinite;
}

@keyframes run {
  0% { right: 0%; }
  100% { right: 100%; }
}

#leaves {
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100vh; 
  overflow: hidden; 
}

.leaves {
  display: inline-block;
  width: 100px; 
  height: 75px; 
  transform: skew(20deg);
  z-index: 1;
  position: absolute; 
  animation: falling 10s linear infinite; 
  animation-delay: var(--delay); 
}

@keyframes falling {
  0% {
    top: -100px;
    left: calc(100% * var(--position)); 
    transform: rotate(0deg);
  }
  100% {
    top: 100vh; 
    left: calc(100% * var(--position));
    transform: rotate(360deg);
  }
}
